.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #76b5c5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav div {
  display: flex;
  align-items: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav a:hover {
  background: #1e81b0;
  color: #000;
  border-radius: 5px;
}

.nav a:visited {
  background: #fff;
}

/* Brand */
.nav div:first-child {
  color: #154c79;
  font-size: 18px;
  font-weight: bold;
}

/* Links */
.nav div:last-child {
  display: flex;
  margin-right: 0;
}

.nav div:last-child a {
  margin-left: 5px;
}

.nav div:last-child a:first-child {
  margin-left: 0;
}